web/WEB-INF/wsdl/localhost_8080/AgenciaWS/HotelWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hotel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hotel/" name="HotelWS">
<types>
<xsd:schema>
<xsd:import namespace="http://hotel/" schemaLocation="http://localhost:8080/AgenciaWS/HotelWS?xsd=1"/>
</xsd:schema>
</types>
<message name="reserva_habitacion">
<part name="parameters" element="tns:reserva_habitacion"/>
</message>
<message name="reserva_habitacionResponse">
<part name="parameters" element="tns:reserva_habitacionResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="goodbye">
<part name="parameters" element="tns:goodbye"/>
</message>
<message name="goodbyeResponse">
<part name="parameters" element="tns:goodbyeResponse"/>
</message>
<message name="consulta_libres">
<part name="parameters" element="tns:consulta_libres"/>
</message>
<message name="consulta_libresResponse">
<part name="parameters" element="tns:consulta_libresResponse"/>
</message>
<portType name="HotelWS">
<operation name="reserva_habitacion">
<input wsam:Action="http://hotel/HotelWS/reserva_habitacionRequest" message="tns:reserva_habitacion"/>
<output wsam:Action="http://hotel/HotelWS/reserva_habitacionResponse" message="tns:reserva_habitacionResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://hotel/HotelWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://hotel/HotelWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="goodbye">
<input wsam:Action="http://hotel/HotelWS/goodbyeRequest" message="tns:goodbye"/>
<output wsam:Action="http://hotel/HotelWS/goodbyeResponse" message="tns:goodbyeResponse"/>
</operation>
<operation name="consulta_libres">
<input wsam:Action="http://hotel/HotelWS/consulta_libresRequest" message="tns:consulta_libres"/>
<output wsam:Action="http://hotel/HotelWS/consulta_libresResponse" message="tns:consulta_libresResponse"/>
</operation>
</portType>
<binding name="HotelWSPortBinding" type="tns:HotelWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reserva_habitacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="goodbye">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulta_libres">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HotelWS">
<port name="HotelWSPort" binding="tns:HotelWSPortBinding">
<soap:address location="http://localhost:8080/AgenciaWS/HotelWS"/>
</port>
</service>
</definitions>